@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme  inline {
  --color-primary:#EDF7F6;
  --color-primLow:#9ca1a1;
  --color-seconder: #004643;
  --color-secLow:#00464394;
  --color-third:#0C1618;
  --color-thirdLow:#6f7272;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

 body{
  @apply  bg-primary  text-third dark:bg-third dark:text-primary   cursor-default
 }
 section{
  @apply px-5 lg:px-10 w-full overflow-hidden 
 }
 p{
  @apply text-thirdLow dark:text-primLow
 }
 
 .font-eb-garamond {
  font-family: var(--font-eb-garamond), serif;
 
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}